/* For mobile phones: */

/* geral */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@font-face {
    font-family: Sora;
    src: url(../fonts/Sora-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: PressStart2P;
    src: url(../fonts/PressStart2P.ttf);
    font-style: normal;
    font-weight: normal;
}



body{
    padding: 0 !important;
    margin: 0 !important;
    font-family: Sora;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

p{
    font-family: Sora;
}

html {
    --scrollbarBG: #DCDCDC	;
    --thumbBG: #3D5165;
}
body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

/* fim geral  */


/* menu */


.navbar{
    padding: 10px 10px 10px 10px;
}

.nav-link {
    padding-right: .3rem !important;
    padding-left: .3rem !important;
    margin: .4rem;
    color: gray !important;
    font-weight: 300;
    font-size: 12px;
}

.navbar-logo{
    max-width: 300px;
    max-height: 87px;
    width: 100%;
    margin-left: 20px;
    margin-top: -10px;
}

.bg-light {
    background-color: white !important;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

/* fim menu */
.head{
    background-image: url("../images/head.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100vh;
}

.img-responsive{
    max-width: 100%;
}
.btn-eContato{
    border-radius: 0;
    font-size: 12px;
    margin-top: -20px;
    padding: 20px;
    background-color: white;
    color: gray;
    transition: background-color 200ms linear;
}

.btn-eContato-scrolled{
    border-radius: 0;
    font-size: 12px;
    margin-top: -20px;
    padding: 20px;
    background-color:  #3D5165;
    color: white;
    transition: background-color 200ms linear;
}

h2.titulo-head{
    z-index: 1;
    padding: 10px;
    position: relative;
    left: 0%;
    top: 50%;
    font-family: "PressStart2P", PressStart2P, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.7rem;
    text-align: center;
    color: #F2F2F2;
    cursor:pointer !important;
}

h2.titulo-head:after{
    content:'PRESS START';
    z-index: -1;
    position: absolute;
    left: 38%;
    top: 23%;
    font-family: "PressStart2P", PressStart2P, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.7rem;
    text-align: center;
    background: linear-gradient(90deg,  #2B3E47 -5.17%, #D13B95 50.14%, #309A8C 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor:pointer !important;

}

h2.titulo-head-2{

}

.section-1{
    height: auto;
    max-height: 100vh;
    width: 100%;
    background-color: #FAFAFA !important;
    display:flex;
    align-items: flex-start;
    justify-content: flex-end;

}

.section-2{
    height: auto;
    width: 100%;
    background-color: #3D5165 !important;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.section-2 > div > div>.img-responsive{
    width: 100%;
}

.section-1-title{
    font-family:PressStart2P;
    font-size:2.0rem;
    color:#828282;
    background-color: #FAFAFA !important;
    opacity:0;
    text-align: left;
    margin: 0;
    padding: 0;
}

.section-1-text{
    color:#828282;
    font-family: 'Sora',sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: 1.1rem;
    text-align: left;
}
.section-1-text > span > p{
    text-align: left;
}

.section-1-image{
    display:flex;
    justify-content: flex-end;
}

.section-1-image > img {
    margin-right: -10px;
    display:flex;
    justify-content: flex-end;
}

.section-2-title{
    color:white !important;
    font-family:PressStart2P;
    font-style: normal;
    font-weight: normal;
    font-size:2.5rem;
    display:block;
}

.section-2-text{
    color:#F2F2F2;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 300;
    font-size:1rem;
    display: block;
    text-align: center;
    width:30%;
    margin-left: 35%;
    margin-top:1%;
}


.section-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #FAFAFA !important;
}

.section-3-image{
    display: flex;
    width: 60%;
}

.section-3-text{
    width: 60%;
    display:flex;
    text-align: justify;
    flex-direction: column;
    margin-bottom:1%;
}

.section-3-text-paragraph{
    width:65%;
    color:#828282;
    font-family: 'Sora',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.3rem;
}

.section-3-text-title{
    font-family: PressStart2P;
    font-size:2.5rem;
    color:#828282;

}

.section-4{
    background-color: #309A8C;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.section-4-text{
    width: 40%;
    display:flex;
    text-align: justify;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    margin-right: 10%;
    font-size: 1.1rem;

}



.section-6{
    width:100%;
    height: 100vh;
    background-color: #D13B95;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.carousel-company{
    width:80%;
    height: 56vh;
    margin-left: 10%;
    margin-top: 0;
    padding: 7% 10% 10% 10%;
}

.carousel-background{
    height: 240px;
    width: 240px;
    background: #F2F2F2;
    border: 10px solid #A7FFF3;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.carousel-image{
    
}

.carousel-depo{
    font-style: italic;
    text-align: left;
    font-size: 1.5em;
    color: white;
}

.carousel-depo-company{
    text-align: left;
    font-size: 1.2em;
    color: white;
}

.section-6-title{
    font-family: PressStart2P;
    font-size: 2.5rem;
    color: white;
    margin-top:8% !important;
    margin-bottom: 5%;
}

.slide{
    margin-bottom: 4%;
    height:50%;
}


.section-4-image{
    width:50%;
    text-align: right;
}

.section-4-text-title{
    font-family: PressStart2P;
    font-size:2.5rem;
    color:white;
    margin-left: 58%;
    margin-bottom: 4%;
}

.section-5{
    background-color: #FAFAFA !important;
    width: 100%;
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-top: 0;
}

.section-5-cards-layout{
    width: 100%;
    height:45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
}

.section-5-text {
    width: 100%;
    margin-top: 3% !important;
    text-align: center;
}

.section-5-text-title{
    font-family:PressStart2P;
    font-style: normal;
    font-weight: normal;
    font-size:2.5rem;
    color:#828282;
}

.section-5-text-paragraph{
    margin-top:2%;
    width: 60%;
    margin-left: 20%;
    font-family: Sora;
    font-style: normal;
    font-weight: 300;
    color:#828282;
}

.section-7{
    width: 100%;
    height: 100vh;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-7-title{
    color: #828282;
    font-family: PressStart2P;
    font-size:2.5rem;

}

.section-7-card-grid{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.section-7-card{
    width: 23%;
    min-height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #FAFAFA;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.25);
    border: 5px solid #309A8C;
    box-sizing: border-box;
}


a.section-7-card-title{
    font-family: Sora !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 1rem !important;
    color:#4F4F4F;
}


a.section-7-card-title:hover{
    font-family: Sora !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 1rem !important;
    color:#4F4F4F;
}

a.section-7-card-title:visited{
    font-family: Sora !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 1rem !important;
    color:#4F4F4F;
}

.section-8{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.section-8-title{
    color:#D13B95;
    font-family: PressStart2P;
    font-size:2.5rem;
}


.section-8-subtitle{
    color:#636363;
}

.section-8-button{
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:30%;
    height: 20%;
    margin-top:4%;
    border-image-source: linear-gradient(90deg, #2B3E47 -5.17%, #D13B95 50.14%, #309A8C 97.93%);
    cursor: pointer;

}

.section-9{
    width: 100%;
    height: 10vh;
    background: linear-gradient(90deg, #2B3E47 -5.17%, #D13B95 50.14%, #309A8C 97.93%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-9-center{
    width:15%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.section-8-text-button{
    font-family: Sora;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    background: linear-gradient(90deg, #2B3E47 -5.17%, #D13B95 50.14%, #309A8C 97.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.section-7-subtitle{
    color: #828282;
    font-family: Sora;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
}

.card-player{
    font-family: PressStart2P;
    font-style: normal;
    font-weight: normal;
}

.player-image{
    border: 8.92121px solid;
    box-sizing: border-box;
}

.card-name{
    font-family: Sora;
    font-style: normal;
    font-weight: normal;
}
.card-oab{
    font-family: Sora;
    font-style: normal;
    font-weight: normal;
}

.section-5-card{
    text-align: center;
    display: flex;
    flex-direction: column;
}


.section-4-text-paragraph{
    margin-bottom:53%;
    width:100%;
    color:#828282;
    font-family: 'Sora',sans-serif;
    font-style: normal;
    text-align: right;
    font-weight: 300;
    color:white;
    margin-left: 15%;
}

.section-4-text-list{
    list-style: none;
}

li.section-4-list-item1::after{
    content: "■";
    font-size: 1.5rem !important;
    color:#D13B95;
    margin-left: 2%;

}
li.section-4-list-item2::after{
    content: "■";
    font-size: 1.5rem !important;
    color:#3D5165;
    margin-left: 2%;

}
li.section-4-list-item3::after{
    content: "■";
    font-size: 1.5rem !important;
    color:#A7FFF3;
    margin-left: 2%;

}

li.section-4-list-item4::after{
    content: "■";
    font-size: 1.5rem !important;
    color:#F56CBF;
    margin-left: 2%;

}

li.section-4-list-item5::after{
    content: "■";
    font-size: 1.5rem !important;
    color:#22756A;
    margin-left: 2%;

}

@media (min-width:601px) and (max-width:768px){
    /* for tablets */
}

@media (max-width:600px){
    /* for phones */
}




@media (min-width:1025px){
    .navbar{
        padding: 10px 100px 10px 100px;
    }

    .bg-light {
        background-color: transparent !important;
        transition: background-color 200ms linear;
    }

    .bg-light-scrolled {
        background-color: #F2F2F2 !important;
        transition: background-color 200ms linear;
    }
    
    .trn {
        background-image: rgba(0,0,0,0);
        z-index: 99;
    }

    .nav-link {
        padding: 1rem .4rem 0 .4rem !important;
        margin: .4rem;
        color: #ffffff !important;
        font-weight: 300;
        font-size: 12px;
        transition: background-color 200ms linear;

    }

    .nav-link-scrolled{
        padding: 1rem .4rem 0 .4rem !important;
        margin: .4rem;
        color: #828282 !important;
        font-weight: 300;
        font-size: 12px;
        transition: background-color 200ms linear;

    }
    .section-1-text{
        width:80%;
        text-align: center;
        color:#828282;
        margin-right: 30%!important;
        font-family: 'Sora',sans-serif !important;
        font-style: normal;
        font-weight: 300;
        font-size: 1.1rem !important;
        margin-bottom: 10%!important;
    }
}


