/* For mobile phones: */

/* geral */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@font-face {
    font-family: Sora;
    src: url(../fonts/Sora-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: PressStart2P;
    src: url(../fonts/PressStart2P.ttf);
    font-style: normal;
    font-weight: normal;
}



body{
    padding: 0 !important;
    margin: 0 !important;
    font-family: Sora;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

html {
    --scrollbarBG: #DCDCDC	;
    --thumbBG: #3D5165;
}
body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

/* fim geral  */


/* menu */


.navbar{
    padding: 10px 10px 10px 10px;
}

.nav-link {
    padding-right: .3rem !important;
    padding-left: .3rem !important;
    margin: .4rem;
    color: gray !important;
    font-weight: 300;
    font-size: 12px;
}

.navbar-logo{
    max-width: 300px;
    max-height: 87px;
    width: 100%;
    margin-left: 20px;
    margin-top: -10px;
}

.bg-light {
    background-color: white !important;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

/* fim menu */
.head{
    background-image: url("../images/head.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100vh;
}

.btn-eContato{
    border-radius: 0;
    font-size: 12px;
    margin-top: -20px;
    padding: 20px;
    background-color: gray;
    color: white;
}

h2.titulo-head{
    z-index: 1;
    padding: 10px;
    position: relative;
    left: 0%;
    top: 50%;
    font-family: "PressStart2P", PressStart2P, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.7rem;
    text-align: center;
    color: #F2F2F2;
    cursor:pointer !important;
}

h2.titulo-head:after{
    content:'PRESS START';
    z-index: -1;
    position: absolute;
    left: 34.5%;
    top: 23%;
    font-family: "PressStart2P", PressStart2P, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.7rem;
    text-align: center;
    background: linear-gradient(90deg, #2B3E47 15%, #FF5722 50.14%, #309A8C 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor:pointer !important;

}

h2.titulo-head-2{

}

.section-1{
    height: 100vh;
    width: 100%;
    background-color: #FAFAFA !important;
    display:flex;
    align-items: flex-start;
    justify-content: center;

}

.section-1-left{
    width: 50%;
    margin-top:10%;
    text-align: center
}

.section-1-title{
    font-family:PressStart2P;
    font-size:2.5rem;
    color:#828282;
    background-color: #FAFAFA !important;
    opacity:0;
}

.section-1-text{
    width:70%;
    margin-top:5%;
    text-align: left;
    margin-left:30%;
    color:#828282;
    font-family: 'Sora',sans-serif !important;
    font-style: normal;
    font-weight: 300;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    h2.titulo-head-2{
        top: 39%;
    }
}

@media (min-width:768px){
    /* For desktop: */
    .section1Oquee{
        font-family:PressStart2P;
        font-size:2.5rem;
        color:#828282;
        background-color: #FAFAFA !important;
    }

    .sectionTitleArea{
        background-color: #FAFAFA !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:5%;
    }

    .section1TextArea{
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .section1Text{
        text-align: justify;
        width: 30%;
    }
    
    .btn-eContato{
        border-radius: 0;
        font-size: 12px;
        margin-top: -20px;
        padding: 20px;
        background-color: white;
        color: gray;
        transition: background-color 200ms linear;
    }

    .btn-eContato-scrolled{
        border-radius: 0;
        font-size: 12px;
        margin-top: -20px;
        padding: 20px;
        background-color:  #3D5165;
        color: white;
        transition: background-color 200ms linear;
    }

}

@media only screen and (min-width: 494px) {
    h2.titulo-head-2{
        top: 39%;
    }
}

@media (min-width:992px){
    .navbar{
        padding: 10px 100px 10px 100px;
    }

    .bg-light {
        background-color: transparent !important;
        transition: background-color 200ms linear;
    }

    .bg-light-scrolled {
        background-color: #F2F2F2 !important;
        transition: background-color 200ms linear;
    }
    
    .trn {
        background-image: rgba(0,0,0,0);
        z-index: 99;
    }

    .nav-link {
        padding: 1rem .4rem 0 .4rem !important;
        margin: .4rem;
        color: #ffffff !important;
        font-weight: 300;
        font-size: 12px;
        transition: background-color 200ms linear;

    }

    .nav-link-scrolled{
        padding: 1rem .4rem 0 .4rem !important;
        margin: .4rem;
        color: #828282 !important;
        font-weight: 300;
        font-size: 12px;
        transition: background-color 200ms linear;

    }
}